body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 20, 60); /* neon red */
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 20, 60);
    text-shadow: 0 0 5px rgb(255, 20, 60), 0 0 10px rgb(255, 0, 0); /* glow */
}

.chamada {
    background: rgb(255, 20, 60); /* vermelho néon */
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 20px rgb(255, 20, 60), 0 0 40px rgb(255, 0, 0); /* glow */
}

.chamada-texto {
    margin-right: 5%;
    max-width: 400px;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: white;
    text-shadow: 0 0 5px rgb(255, 20, 60), 0 0 15px rgb(255, 0, 0); /* glow */
}

p {
    font-size: 20px;
}

.categoria {
    padding: 0 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(255, 20, 60);
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgb(255, 20, 60), 0 0 15px rgb(255, 0, 0);
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}

.categoria-videos a {
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(255, 20, 60);
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(255, 20, 60);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(255, 20, 60), 0 0 40px rgb(255, 0, 0);
}